:root {
    --font-family: 'Handjet', sans-serif;
    --primary-color: #9BBEC8;
    --secondary-color: #363062;
}

body {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: var(--font-family);
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 4em;
}

h3 {
    font-size: 2em;
    margin-top: 20px;
}

.mensagem {
    font-size: 1.5em;
    margin-top: 40px;
}

.box {
    border: 2px solid var(--primary-color);
    display: inline-block;
    font-size: 4em;
    padding: 10px;
    margin: 20px;
}

.btn-restart {
    padding: 8px 15px;
    border: 2px solid var(--secondary-color);
    border-radius: 12px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 2em;
    margin-top: 10px;
    font-family: var(--font-family);
    font-weight: 500;
}

.btn-restart:hover {
    cursor: pointer;
    border: 2px solid var(--primary-color);
    background-color: var(--secondary-color);
    color: var(--primary-color);
}